<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723108781238-2drfmm5ivh9dkko0ii2lvudrid8ad327.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723108781238-2drfmm5ivh9dkko0ii2lvudrid8ad327</string>
	<key>API_KEY</key>
	<string>AIzaSyAb4JzWiCGDVitMFaryksPGigFNc2JXKKU</string>
	<key>GCM_SENDER_ID</key>
	<string>723108781238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tdc.edu.vn.IOS-BeautySelling</string>
	<key>PROJECT_ID</key>
	<string>beautyselling-ba28b</string>
	<key>STORAGE_BUCKET</key>
	<string>beautyselling-ba28b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723108781238:ios:b4d36ad3cd46c68c5bda17</string>
</dict>
</plist>